body
{
	font-family		: sans-serif;
}

h2
{
        background-color        : black;
        color                   : white;
	padding			: 4px 4px 4px 16px;
        border-bottom           : solid;
        border-color            : silver;
	margin-top		: 4em;
}

h3
{
	background-color	: silver;
	padding			: 4px 4px 4px 16px;
	border-bottom		: solid;
	border-color		: black;
	margin-top		: 2em;
}

h4
{
	padding			: 4px 4px 4px 16px;
	border-bottom		: dashed;
	border-color		: black;
	border-width		: 1px;
	margin-top		: 2em;
}

.quote
{
	font-family		: serif;
	font-style		: italic;
	text-align		: right;
	margin-left		: 50%;
}

.script
{
        font-family     : monospace;
}

.box-script
{
        background      : #F0F0F0;
        border          : solid;
        border-width    : thin;
        font-family     : monospace;
	padding		: 8px;
	margin-left	: 2em;
}

.list-desc
{
	margin-left	: 2em;
}

.image
{
	border		: solid;
	border-width	: 2px;
	border-color	: gray;
	margin		: 1em;
}
